body {
  font-family : sans-serif;
}

img {
  border : 0;
}

#urls {
  list-style-type : none;
  width : 480px;
}

li {
  clear : both;
  float : left;
  padding : 10px 20px 10px 10px;
  width : 100%;
}

li.even {
  background-color : #eee;
}

div.icon {
  float : left;
  height : 32px;
  margin : 0 0.5em 0 0;
}

div.name {
  float : left;
  font-style : italic;
  margin-right : 0.5em;
}

a:link, a:visited, a:active {
  text-decoration : none;
}

a:hover {
  text-decoration : underline;
}

img.thumb, li object {
  float : left;
  margin-right : 10px;
}

span.host {
  color : #808080;
  font-family : monospace;
}

#closer {
  position : fixed;
  right : 0px;
  top : 0px;
  width : 425px;
}

fieldset {
  border : 0;
  margin : 0;
  padding : 0;
}
