body {
  font-family : sans-serif;
}

img {
  border : 0;
}

#urls {
  list-style-type : none;
  width : 480px;
}

li {
  clear : both;
  float : left;
  padding : 10px 20px 10px 10px;
  width : 100%;
  border-bottom : 1px solid #f6f6f6;
}

li.even {
  background-color : #eee;
  border-right : 1px solid #ddd;
  border-bottom : 1px solid #ccc;
}

div.icon {
  float : left;
  margin : 0 0.5em 0 0;
}

div.name {
  float : left;
  font-style : italic;
  margin-right : 0.5em;
}

a:link, a:visited, a:active {
  text-decoration : none;
}

a:hover {
  text-decoration : underline;
}

img.thumb, li object {
  float : left;
  margin-right : 10px;
}

span.host {
  color : #808080;
  font-family : monospace;
}

#closer {
  position : fixed;
  right : 0px;
  top : 0px;
}

#closer p {
  background-color : black;
  padding : 15px 30px 15px 15px;
}

input.close {
  background-color : black;
  border : 0;
  color : white;
  font-weight : bold;
  position : absolute;
  right : 0px;
  top : 0px;
  width : 30px;
}

fieldset {
  border : 0;
  margin : 0;
  padding : 0;
}

fieldset#add p {
  margin : 0.25em;
}

fieldset#add label {
  float : left;
  width : 100px;
}

a.feed {
  background-color : #fb9e3a;
  border-top : 1px solid #fba141;
  border-right : 1px solid #bc4d04;
  border-bottom : 1px solid #bc4d04;
  border-left : 1px solid #fba141;
  color : white;
  font-weight : bold;
  font-size : 0.75em;
  padding : 2px 4px 2px 4px;
}
