Options -Indexes

AddOutputFilterByType DEFLATE application/atom+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE text/html

<FilesMatch "\.gen\.(css|js)$">
  Header add Expires "Wed, 22 Jun 2019 20:07:00 GMT"
  FileETag None
</FilesMatch>

<FilesMatch "(?i)/img/thumb/[\da-z]{32}">
  Header add Expires "Wed, 22 Jun 2019 20:07:00 GMT"
  FileETag None
</FilesMatch>
