body {
  font-family : Georgia, serif;
}

img {
  border : 0;
}

div#header {
  border-bottom : 1px solid #ccc;
}

ul {
  list-style-type : none;
}

li {
  clear : both;
  float : left;
  padding : 0.5em 1em 0.5em 0.5em;
  width : 640px;
}

li.even {
  background-color : #eee;
}

div.icon {
  float : left;
  height : 32px;
  margin : 0 0.5em 0 0;
}

div.name {
  float : left;
  font-style : italic;
  margin-right : 0.5em;
}

a:link, a:visited, a:active {
  text-decoration : none;
}

a:hover {
  text-decoration : underline;
}

img.thumb, li object {
  float : left;
  margin-right : 10px;
}

img.flickr {
  border-right : 4px solid #ff0084;
}

img.vimeo {
  border-right : 4px solid #00abed;
}

img.youtube {
  border-right : 4px solid #ff3232;
}

