body {
  color : #333;
  font-size : 1em;
  line-height : 1.5em;
}

img {
  border : 0;
}

#urls {
  list-style-type : none;
  width : 50%;
}

ul.comments {
  list-style-type : none;
}

li {
  clear : both;
  float : left;
  padding : 10px 20px 10px 10px;
  width : 100%;
}

li.selected {
  background-color : #f9f9f9;
  border-top : 1px solid #fcfcfc;
  border-right : 1px solid #f3f3f3;
  border-bottom : 1px solid #f3f3f3;
  border-left : 1px solid #fcfcfc;
  padding : 9px 19px 9px 9px;
}

div.icon {
  float : left;
  margin : 0 0.5em 0 0;
}

a:link {
  color : #333;
}

a:visited {
  color : #808080;
}

a:link, a:visited, a:active {
  text-decoration : none;
}

a:hover {
  text-decoration : underline;
}

div.name {
  float : left;
  font-style : italic;
  margin-right : 0.5em;
}

img.thumb, li object {
  float : left;
  margin-right : 10px;
}

.clickable {
  border-right : 4px solid green;
}

span.host {
  color : #808080;
  font-family : monospace;
}

span.via {
  font-size : 0.75em;
}

span.via:before {
  content : " \2190 \ ";
}

fieldset {
  border : 0;
  margin : 0;
  padding : 0;
}

fieldset#add p {
  margin : 0.25em;
}

fieldset#add label {
  float : left;
  width : 100px;
}

label.required:after {
  content : ":";
}

label.optional:after {
  content : "?";
}

span.date {
  color : #808080;
  font-size : 0.75em;
}

div.jGrowl div.jGrowl-notification,
div.jGrowl div.jGrowl-closer {
  clear : both;
  float : right;
  width : auto;
}

/* iphone */
@media screen and (max-device-width : 480px) {

  body {
    font-size : 1.25em;
    line-height : normal;
  }

  #urls {
    margin : 0;
    padding-left : 0;
    width : 282px;
  }

  #urls>li {
    overflow : hidden;
    border-bottom : 1px solid #ccc;
  }

  #urls>li.selected {
    border-top : 0;
    border-right : 0;
    border-left : 0;
    padding : 10px 20px 10px 10px;
  }

  input#q {
    width : 110px;
  }

  input#url, input#title, input#via {
    width : 160px;
  }

}
