body {
  font-size : 1em;
  line-height : 1.5em;
}

img {
  border : 0;
}

#urls {
  list-style-type : none;
  width : 600px;
}

li {
  clear : both;
  float : left;
  padding : 10px 20px 10px 10px;
  width : 100%;
}

div.icon {
  float : left;
  margin : 0 0.5em 0 0;
}

a:link {
  color : #000;
}

a:visited {
  color : #808080;
}

a:link, a:visited, a:active {
  text-decoration : none;
}

a:hover {
  text-decoration : underline;
}

div.name {
  float : left;
  font-style : italic;
  margin-right : 0.5em;
}

img.thumb, li object {
  float : left;
  margin-right : 10px;
  border : 1px solid #808080;
  -moz-border-radius : 5px;
  -webkit-border-radius : 5px;
}

span.host {
  color : #808080;
  font-family : monospace;
}

span.via {
  font-size : 0.75em;
}

span.via:before {
  content : " \2190 \ ";
}

fieldset {
  border : 0;
  margin : 0;
  padding : 0;
}

fieldset#add p {
  margin : 0.25em;
}

fieldset#add label {
  float : left;
  width : 100px;
}

a.feed {
  background-color : #fb9e3a;
  border-top : 1px solid #fba141;
  border-right : 1px solid #bc4d04;
  border-bottom : 1px solid #bc4d04;
  border-left : 1px solid #fba141;
  color : white;
  font-weight : bold;
  font-size : 0.75em;
  padding : 2px 4px 2px 4px;
}

span.date {
  color : #808080;
  font-size : 0.75em;
}

div.jGrowl div.jGrowl-notification,
div.jGrowl div.jGrowl-closer {
  clear : both;
  float : right;
  width : auto;
}

/* iphone */
@media screen and (max-device-width : 480px) {

  a.feed {
    display : none;
  }

  body {
    margin : 0;
    padding : 0;
    font-size : 1.25em;
    line-height : 1.875em;
  }

  #urls {
    margin : 0;
    padding-left : 0;
    width : 290px;
  }

  #urls li {
    overflow : hidden;
  }

  input#q {
    width : 130px;
  }

  input#url, input#via {
    width : 160px;
  }

}
